--
-- PostgreSQL database dump
--

\restrict DTW6ohJk2PuZF1QCVPJ1JbECivavuYo9DUXPHkb2aySWxCuCBxPnGb6zvOZgg2z

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: employee_feedback; Type: TABLE; Schema: public; Owner: portfolio
--

CREATE TABLE public.employee_feedback (
    id integer NOT NULL,
    employee_id integer,
    rating integer,
    comment text DEFAULT ''::text,
    submitted_at text
);


ALTER TABLE public.employee_feedback OWNER TO portfolio;

--
-- Name: employee_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: portfolio
--

CREATE SEQUENCE public.employee_feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.employee_feedback_id_seq OWNER TO portfolio;

--
-- Name: employee_feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: portfolio
--

ALTER SEQUENCE public.employee_feedback_id_seq OWNED BY public.employee_feedback.id;


--
-- Name: employees; Type: TABLE; Schema: public; Owner: portfolio
--

CREATE TABLE public.employees (
    id integer NOT NULL,
    name text NOT NULL,
    name_lower text DEFAULT ''::text NOT NULL,
    education text DEFAULT '[]'::text,
    "position" text DEFAULT ''::text,
    contacts text DEFAULT ''::text,
    experience text DEFAULT '{}'::text,
    about text DEFAULT ''::text,
    competencies text DEFAULT ''::text,
    project_experience text DEFAULT '[]'::text,
    certification text DEFAULT ''::text,
    email text DEFAULT ''::text,
    city text DEFAULT ''::text,
    phone text DEFAULT ''::text,
    photo text DEFAULT ''::text,
    token text,
    status text DEFAULT 'active'::text NOT NULL,
    created_at text,
    updated_at text
);


ALTER TABLE public.employees OWNER TO portfolio;

--
-- Name: employees_id_seq; Type: SEQUENCE; Schema: public; Owner: portfolio
--

CREATE SEQUENCE public.employees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.employees_id_seq OWNER TO portfolio;

--
-- Name: employees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: portfolio
--

ALTER SEQUENCE public.employees_id_seq OWNED BY public.employees.id;


--
-- Name: managers; Type: TABLE; Schema: public; Owner: portfolio
--

CREATE TABLE public.managers (
    id integer NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    created_at text,
    role text DEFAULT 'admin'::text
);


ALTER TABLE public.managers OWNER TO portfolio;

--
-- Name: managers_id_seq; Type: SEQUENCE; Schema: public; Owner: portfolio
--

CREATE SEQUENCE public.managers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.managers_id_seq OWNER TO portfolio;

--
-- Name: managers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: portfolio
--

ALTER SEQUENCE public.managers_id_seq OWNED BY public.managers.id;


--
-- Name: pending_changes; Type: TABLE; Schema: public; Owner: portfolio
--

CREATE TABLE public.pending_changes (
    id integer NOT NULL,
    employee_id integer,
    field_name text,
    old_value text,
    new_value text,
    submitted_at text,
    status text DEFAULT 'pending'::text,
    reviewed_at text DEFAULT ''::text,
    reviewed_by text DEFAULT ''::text,
    reject_reason text DEFAULT ''::text
);


ALTER TABLE public.pending_changes OWNER TO portfolio;

--
-- Name: pending_changes_id_seq; Type: SEQUENCE; Schema: public; Owner: portfolio
--

CREATE SEQUENCE public.pending_changes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pending_changes_id_seq OWNER TO portfolio;

--
-- Name: pending_changes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: portfolio
--

ALTER SEQUENCE public.pending_changes_id_seq OWNED BY public.pending_changes.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: portfolio
--

CREATE TABLE public.sessions (
    sid text NOT NULL,
    expired real NOT NULL,
    sess text NOT NULL
);


ALTER TABLE public.sessions OWNER TO portfolio;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: portfolio
--

CREATE TABLE public.settings (
    key text NOT NULL,
    value text
);


ALTER TABLE public.settings OWNER TO portfolio;

--
-- Name: employee_feedback id; Type: DEFAULT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.employee_feedback ALTER COLUMN id SET DEFAULT nextval('public.employee_feedback_id_seq'::regclass);


--
-- Name: employees id; Type: DEFAULT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.employees ALTER COLUMN id SET DEFAULT nextval('public.employees_id_seq'::regclass);


--
-- Name: managers id; Type: DEFAULT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.managers ALTER COLUMN id SET DEFAULT nextval('public.managers_id_seq'::regclass);


--
-- Name: pending_changes id; Type: DEFAULT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.pending_changes ALTER COLUMN id SET DEFAULT nextval('public.pending_changes_id_seq'::regclass);


--
-- Data for Name: employee_feedback; Type: TABLE DATA; Schema: public; Owner: portfolio
--



--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: portfolio
--



--
-- Data for Name: managers; Type: TABLE DATA; Schema: public; Owner: portfolio
--

COPY public.managers (id, name, email, password_hash, created_at, role) FROM stdin;
1	╨У╨╗╨░╨▓╨╜╤Л╨╣ ╨░╨┤╨╝╨╕╨╜╨╕╤Б╤В╤А╨░╤В╨╛╤А	admin	$2a$10$Q5YGXRuPcjKytVr62dyj7OmNBv44I4Pu.2Z/HwVLf..jd8cb732ni	2026-07-16T07:45:28.013Z	admin
2	ivanov	ivanov	$2a$10$FtkMPo0jB7VYQoVGS5q91e3yZLsfWVxAVMijZmV88gBh5UNEJEdA.	2026-07-16T07:56:04.385Z	admin
3	╨Э╨░╤Б╤В╤П	nastia	$2a$10$wCaag9qKjj4Z5duJrYG1Ae2FOxCP9PubqP3Y9H2fjCuNzEWfuFnee	2026-07-20T04:53:34.399Z	scrum
\.


--
-- Data for Name: pending_changes; Type: TABLE DATA; Schema: public; Owner: portfolio
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: portfolio
--



--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: portfolio
--



--
-- Name: employee_feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: portfolio
--

SELECT pg_catalog.setval('public.employee_feedback_id_seq', 4, true);


--
-- Name: employees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: portfolio
--

SELECT pg_catalog.setval('public.employees_id_seq', 7, true);


--
-- Name: managers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: portfolio
--

SELECT pg_catalog.setval('public.managers_id_seq', 3, true);


--
-- Name: pending_changes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: portfolio
--

SELECT pg_catalog.setval('public.pending_changes_id_seq', 52, true);


--
-- Name: employee_feedback employee_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.employee_feedback
    ADD CONSTRAINT employee_feedback_pkey PRIMARY KEY (id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: managers managers_email_key; Type: CONSTRAINT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.managers
    ADD CONSTRAINT managers_email_key UNIQUE (email);


--
-- Name: managers managers_pkey; Type: CONSTRAINT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.managers
    ADD CONSTRAINT managers_pkey PRIMARY KEY (id);


--
-- Name: pending_changes pending_changes_pkey; Type: CONSTRAINT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.pending_changes
    ADD CONSTRAINT pending_changes_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (sid);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (key);


--
-- Name: idx_changes_employee; Type: INDEX; Schema: public; Owner: portfolio
--

CREATE INDEX idx_changes_employee ON public.pending_changes USING btree (employee_id);


--
-- Name: idx_changes_status; Type: INDEX; Schema: public; Owner: portfolio
--

CREATE INDEX idx_changes_status ON public.pending_changes USING btree (status);


--
-- Name: idx_employees_name_lower; Type: INDEX; Schema: public; Owner: portfolio
--

CREATE INDEX idx_employees_name_lower ON public.employees USING btree (name_lower);


--
-- Name: idx_employees_status; Type: INDEX; Schema: public; Owner: portfolio
--

CREATE INDEX idx_employees_status ON public.employees USING btree (status);


--
-- Name: idx_employees_token; Type: INDEX; Schema: public; Owner: portfolio
--

CREATE INDEX idx_employees_token ON public.employees USING btree (token);


--
-- Name: idx_feedback_employee; Type: INDEX; Schema: public; Owner: portfolio
--

CREATE INDEX idx_feedback_employee ON public.employee_feedback USING btree (employee_id);


--
-- Name: employee_feedback employee_feedback_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.employee_feedback
    ADD CONSTRAINT employee_feedback_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: pending_changes pending_changes_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: portfolio
--

ALTER TABLE ONLY public.pending_changes
    ADD CONSTRAINT pending_changes_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict DTW6ohJk2PuZF1QCVPJ1JbECivavuYo9DUXPHkb2aySWxCuCBxPnGb6zvOZgg2z

